/* https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url(assets/background.webp);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
}

/* add padding */
ol, h2, h3, h4, h5, h6 {
  padding: 1.2em 20vw 0;
}

p {
  padding: 0.8em 20vw 0.4em;
}

ul {
  padding: 0 24vw;
}

/* change fonts */
p, ul, ol, a {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

h1 {
  color: #6aa8ae;
}

h2, h3, h4, h5, h6 {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'JetBrains Mono', monospace;
  /* color: #6aa8ae; */
  color: #b3a586;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {
  color: #6aa8ae;
  transition: 0.4s ease-in-out;
}

a:hover {
  color: #b3a586;
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Make images easier to work with */
img {
  max-width: 100%;
  /*display: block;*/
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 600px) {
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    padding: 0 7.5vw;
  }
}
